body {
  color: orange;
}
h1 {color: red;}
h2 {color: purple:}
p {color: orange;}
#Navigation {width:800px; background-color: gray; text-align:center; }
#Nav-button {text-align:center;background-color:red;}
#Meezer {text-align:right, float}
#MeezPen {text-align:right, float}
#Chicken {text-align:right, float}
